<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor = "#c8f5c3">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2>TODOリスト</h2>
    <table border="3" bgcolor="#ffffff">
      <tr bgcolor = "#44db30">
        <th>優先順位</th>
        <th>タスク名</th>
        <th>期限</th>
        <th>完了</th>
      </tr>
      <% for (var i = 0; i < 10; i++) { %>
        <tr>
          <th bgcolor = "#cccccc"><%= i+1 %></th>
          <td><%= i+1 %>個目のタスク（配列で）</td>
          <td><%= i+1 %>個目の期限（配列で）</td>
          <td>完了チェック</td>
        </tr>
        <% } %>
      
    </table>
    
    <button type="submit" formaction="new.ejs" name="new">(追加)</button>
    <p class="submit"><input type="submit" value="タスクの追加"/></p>

    <h2>完了タスク</h2>
    <table border="3" bgcolor="#ffffff">
      <tr bgcolor = "#44db30">
        <th></th>
        <th>終了タスク名</th>
        <th>期限</th>
        <th>戻す</th>
        <th>削除</th>
      </tr>
      <% for (var i = 0; i < 10; i++) { %>
        <tr>
          <th bgcolor = "#cccccc"><%= i+1 %></th>
          <td><%= i+1 %>個目の完了タスク（配列で）</td>
          <td><%= i+1 %>個目の完了タスクの期限（配列で）</td>
          <td>戻すボタン</td>
          <td>削除ボタン</td>
        </tr>
        <% } %>
    </table>


  </body>
</html>